.todoListBody {
    position: relative;
    width: 1200px;
    top: 30px;
    left: calc(50vw - 600px);
}

.todo {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.addBtn {
    margin-left: 10px;
}

.inputDiv {
    text-align: center;
    margin-bottom: 10px;
}

.controls {
    cursor: pointer;
}
.controls:hover {
    color: purple;
}

.edit {
    color: goldenrod;
}
.delete {
    color: red;
}

.done {
    text-decoration: line-through;
}

.todoContext {
    max-width: 250px;
    overflow: auto;
}

@media screen and (max-width: 450px) {
    .todoListBody {
        width: 90vw;
        left: 5vw;
    }

    .todoContext {
        max-width: 30vw;
    }
    
}

.todoListBody .todo.row {
    display: flex;
    flex-wrap: nowrap;
    align-items: center; /* 垂直居中对齐 */
}

.todoListBody .todo.row .column {
    flex: 1;
    padding: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative; 
}

.todoListBody .todo.row .show:hover {
    content: attr(data-title);  /* 使用 data-title 属性的值 */
    position: relative;
    left: 0;
    top: 100%;  /* 放置在元素下方 */
    white-space: nowrap;
    overflow: visible;
    background-color: #f8f8f8;  /* 背景色 */
    color: black;  /* 文字颜色 */
    padding: 4px 8px;  /* 内边距 */
    border: 1px solid #ccc;  /* 边框 */
    z-index: 1;  /* 确保在其他内容上方 */
    width: max-content; /* 宽度自适应内容 */
    box-shadow: 0px 2px 6px rgba(0,0,0,0.1); /* 阴影效果 */
}

.todoListBody .todo.row .controls {
    display: flex;
    gap: 10px; /* 控制图标间距 */
}

.status span {
    padding: 2px 5px;
    border-radius: 4px;
}

.complete {
    background-color: green;
    color: white;
}

.processing {
    background-color: orange;
    color: white;
}

.incomplete {
    background-color: red;
    color: white;
}

.list-header, .list-row {
    display: flex;
    width: 100%;
}

.list-column {
    flex: 1;
    padding: 8px;
    text-align: left;
}

.list-header .list-column {
    font-weight: bold;
    background-color: #f5f1f1;
}

/* .edit, .delete {
    cursor: pointer;
    margin-right: 8px;
} */

